/* IncantoFooter Component Styles */

.footer {
  background-color: rgb(0, 0, 0);
  color: rgb(209 213 219);
  border-top: 1px solid rgb(31 41 55);
  margin-top: 4rem;
}

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.copyright {
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

.link {
  transition: all 200ms;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (min-width: 640px) {
  .copyright {
    font-size: 0.875rem;
  }
}
